@inject SignInManager<UserModel> signInManager;
@model UserModel

<link href="~/css/sideBar.css" rel="stylesheet" />


<div class="sideBarContainer">

        <div class="userBlock">

        <img class="avatar" src="https://i.pravatar.cc/150?img=@(Model.Id.ToCharArray().Sum(x => x)%100)">

            <div class="textBolce">

                <div class="groupIcon">
                <img class="icon" src="~/img/sdi/Vector-2.svg">

                    <div class="nameBolck">
                        <p class="name">
                            @Model.fullName
                        </p>

                        <p class="">
                            |
                        </p>

                        <p class="userName">
                            @Model.UserName
                        </p>
                    </div>
                </div>


                <div class="groupIcon">
                <img class="icon" src="~/img/sdi/Vector.svg">

                    <p class="email">
                       @Model.Email
                    </p>
                </div>

                <div class="groupIcon">
                <img class="icon" src="~/img/sdi/Vector-1.svg">
                    <p class="phone">
                        @Model.PhoneNumber
                    </p>
                </div>
            </div>
        </div>

        <div class="tempPos">
        <div class="navtionText">
            Navigation
        </div>
        <div class="navtion">


            <div class="groupIcon endToend">
                <div class="navLineConta">
                    <a class="navLine" asp-area="" asp-controller="Home" asp-action="index">Home</a>
                </div>
                <img class="icon" src="~/img/sdi/Vector4.svg">
            </div>

            <div class="groupIcon endToend">
                <div class="navLineConta">
                    <a class="navLine" asp-area="" asp-controller="Job" asp-action="BookJobs">Book Jobs</a>
                </div>
                <img class="icon" src="~/img/sdi/Vector4.svg">
            </div>

            <div class="groupIcon endToend">
                <div class="navLineConta">
                    <a class="navLine" asp-area="" asp-controller="Job" asp-action="MyJobs">My Jobs</a>
                </div>
                <img class="icon" src="~/img/sdi/Vector4.svg">
            </div>

            <div class="groupIcon endToend">
                <div class="navLineConta">

                   @if(signInManager.IsSignedIn(User)){
                        <form method="post" asp-action="LogOut" asp-controller="Account">

                            <button type="submit" class="navLine">LogOut</button>

                        </form>
                   }
             
                </div>
                <img class="icon" src="~/img/sdi/Vector4.svg">
            </div>

           

        </div>

        </div>


    </div>