

<div class="JobDcontainer">

    <div class="nav">
        <div class="navHade">
            <img src="ellipse162941-qes2-200h.png" alt="Ellipse162941" class="avater" />
            <p class="title">Job Title</p>
        </div>

        <div class="icon-Group">
            <img src="vector2941-3fuj.svg" alt="Vector2941" class="icon" />
            <img src="vector2941-qt6j.svg" alt="Vector2941" class="icon" />
        </div>
    </div>


    <div class="main">

        <div class="text-bolck">
            <div class="title">
                company name
            </div>

            <div class="text">
                Lorem ipsum
            </div>
        </div>

        <div class="text-bolck">
            <div class="title">
                Positon
            </div>

            <div class="text">
                Lorem ipsum
            </div>
        </div>

        <div class="text-bolck">
            <div class="title">
                Location
            </div>

            <div class="text">
                Lorem ipsum
            </div>
        </div>

        <div class="text-bolck">
            <div class="title">
                Salary
            </div>

            <div class="text">
                Lorem ipsum
            </div>
        </div>

        <div class="text-bolck">
            <div class="title">
                Job Description
            </div>

            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur efficitur dui feugiat est dapibus dignissim tempus eu
                m.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur efficitur dui feugiat est dapibus dignissim tempus eu
                m. zLorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur efficitur dui feugiat est dapibus dignissim tempus eu
                m.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur efficitur dui feugiat est dapibus dignissim tempus eu
                m
            </div>
        </div>

        <div class="text-bolck">
            <div class="title">
                Job Requirements
            </div>

            <li class="text list">
                Lorem ipsum
            </li>

            <li class="text list">
                Lorem ipsum
            </li>

            <li class="text list">
                Lorem ipsum
            </li>

        </div>

        <div class="text-bolck">
            <div class="title">
                Job Requirements
            </div>

            <div class="text">
                Lorem ipsum
            </div>
        </div>


        <div class="foot">
            <a class="btnn">Apply Now</a>
        </div>

    </div>

</div>