@model LogInUserModel

@{
    ViewBag.title = "User log in";
}

<link href="~/css/login2.css" rel="stylesheet" />



<div class="main">
    <div class="image">

        <img src="~/img/rectangle231242-xc4k-800w.png" alt="">

    </div>



    <div class="content">

        <label class="title">Log-In</label>



        <form class="form" method="post">
            <div class="form-group">
                <label asp-for="userName"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="passWord"></label>
                <input asp-for="passWord" class="form-control" />
                <span asp-validation-for="passWord" class="text-danger"></span>
            </div>

            <div class="tempFronG">
                @Html.CheckBoxFor(m => m.rememberMe)
                @Html.DisplayNameFor(m => m.rememberMe)
            </div>





            <a asp-action="Register" class="button1">
                Sign-up
            </a>
            <button class="button2" type="submit">
                Login
            </button>





        </form>


    </div>

</div>