@model RegisterUserModel


@{
    ViewBag.title = "User Register";
}

<link href="~/css/Signup.css" rel="stylesheet" />



<div class="main">
    <div class="images">
        <div class="image1">
            <img src="~/img/image4.jpg" alt="">
        </div>

        <div class="image2">
            <img src="~/img/image5.jpg" alt="">
        </div>

        <div class="image3">
            <img src="~/img/image6.jpg" alt="">
        </div>

    </div>

    <div class="content">

        <label class="title">Sign-up</label>

        <form class="form" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group signup6-group24">

                <label asp-for="fullName"></label>
                <input asp-for="fullName" class="form-control" />
                <span asp-validation-for="fullName" class="text-danger"></span>

            </div>


            <div class="form-group signup6-group25">
                <label asp-for="userName"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>



            <div class="form-group signup6-group26">
                <label asp-for="phone"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>

            <div class="form-group signup6-group28">

                <label asp-for="email"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="form-group signup6-group23">
                <label asp-for="password"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>

            
            <button class="button" type="submit">
                Next
            </button>


        </form>


    </div>
</div>