@model PostJob;


@Html.Partial("_JobDetail",Model);

@section filtter {
    <div>
        @Html.Partial("_cvUpload",new CvUploadInput())
        @Html.Partial("_collageCard",(ViewBag.user?? new UserModel()) as UserModel);

    </div>
}