.login1-container {
  min-height: 100vh;
  min-width: 100%;
}
.container {
    min-width: 100% !important;
}
.login1-login1 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 1);
}
.login1-rectangle23 {
  top: 0px;
  left: 0px;
  width: 720px;
  height: 1024px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.login1-group27 {
  top: 85px;
  left: 991px;
  width: 163px;
  height: 63px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login1-text {
  color: rgba(94, 39, 129, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.login1-group9 {
  top: 846px;
  left: 899px;
  width: 127px;
  height: 48.14404296875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(94, 39, 129, 1);
}
.login1-text02 {
  top: 9px;
  left: 15px;
  color: rgba(255, 255, 255, 1);
  width: 98px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login1-group34 {
  top: 215px;
  left: 844px;
  width: 457.0521545410156px;
  height: 75px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login1-rectangle30 {
  top: 0px;
  left: 0px;
  width: 455px;
  height: 74px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 17px;
}
.login1-text04 {
  top: 20.396013259887695px;
  left: 114.03125px;
  color: rgba(0, 0, 0, 1);
  width: 343px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login1-google1 {
  top: 0px;
  left: 0px;
  width: 102px;
  height: 75px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 17px;
}
.login1-group10 {
  top: 846px;
  left: 1097px;
  width: 127px;
  height: 48.14404296875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(94, 38, 128, 1);
}
.login1-text06 {
  top: 7px;
  left: 27px;
  color: rgba(255, 255, 255, 1);
  width: 73px;
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login1-group24 {
  top: 356px;
  left: 809px;
  width: 527px;
  height: 124px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login1-rectangle24 {
  top: 66px;
  left: 0px;
  width: 527px;
  height: 58px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(94, 39, 129, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
}
.login1-text08 {
  top: 81px;
  left: 30px;
  color: rgba(129, 123, 123, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login1-text10 {
  color: rgba(81, 52, 106, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login1-group23 {
  top: 485px;
  left: 809px;
  width: 527px;
  height: 153px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login1-rectangle25 {
  top: 95px;
  left: 0px;
  width: 527px;
  height: 58px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(94, 39, 129, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
}
.login1-text12 {
  top: 110px;
  left: 30px;
  color: rgba(129, 123, 123, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login1-text14 {
  left: 8px;
  color: rgba(81, 52, 106, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login1-group11 {
  top: 686px;
  left: 817px;
  width: 204px;
  height: 48px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(94, 39, 129, 1);
}
.login1-text19 {
  top: 9px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  width: 165px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login1-group35 {
  top: 693px;
  left: 1099px;
  width: 235px;
  height: 34px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.login1-text21 {
  left: 42px;
  color: rgba(81, 52, 106, 1);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login1-ellipse13 {
  top: 5px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
